/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html {
    font-size: 22px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

p {
    color: rgb(68, 68, 68);
    line-height: 1.6rem;
}

.container {
    max-width: 800px;
    margin: 0 auto;
.2}